{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                KRA for Henry Hugglemonster
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Techical expertise
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Leadership and strategig direction
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Knowledge application
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Human capital development
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Project management
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Contract R&D management
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
