{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                KRA for <b>Henry Hugglemonster</b>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Career level: <b id="value">C4</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">B1</a></li>
                        <li><a href="#">B2</a></li>
                        <li><a href="#">B3</a></li>
                        <li><a href="#">B4</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">C1</a></li>
                        <li><a href="#">C2</a></li>
                        <li><a href="#">C3</a></li>
                        <li><a href="#">C4</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">D1</a></li>
                        <li><a href="#">D2</a></li>
                        <li><a href="#">D3</a></li>
                        <li><a href="#">D4</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">E1</a></li>
                        <li><a href="#">E2</a></li>
                        <li><a href="#">E3</a></li>
                        <li><a href="#">E4</a></li>
                      </ul>
                    </div>
                    <div class="dropdown col-sm-4">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Career ladder: <b id="value">RAD</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">RAD</a></li>
                        <li><a href="#">Research</a></li>
                        <li><a href="#">Project management</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Techical expertise
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Example key responsibility can be given here</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Key responsibilities should be SMART</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Leadership and strategig direction
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">This is just a silly responsibility</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Knowledge application
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Thou shalt honour thy version control system with regular commits</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Bake cupcakes at least once a week</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Human capital development
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Be nice to the lowly students</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Project management
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Make sure that all timesheets are always booked</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <p class="col-sm-10">Report project progress to the friendly neighbourhood overlord</p>
                            <div class="btn-group col-sm-2" role="group">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default">Edit</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </span>
                            </div>
                        </div>
                    </li>
                </ul>
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-10">
                        Contract R&D management
                    </div>
                    <div class="dropdown col-sm-2">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Required level: <b id="value">1</b><span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <span class="row">
                    <div class="col-sm-10">
                        <textarea class="form-control" rows=2 placeholder="Your text here"></textarea>
                    </div>
                    <div class="col-sm-2">
                        <span class="pull-right">
                            <button type="button" class="btn btn-default">Add</button>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    $(".dropdown-menu li").click(function(){
        var str = $(this).text()
        var par = $(this).parent().parent()
        par.find("#value").html(str)
    });
});
</script>
{% endblock %}
