{% extends "base.html"%}
{% block content %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Role</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="newRoleName" class="col-sm-2 control-label">New Role Name</label>
                            <div class="col-sm-10">
                              <input type="name" class="form-control" id="newRoleName" placeholder="">
                              <span class='help-inline'>* required</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
			
			<div class="row">
				<div class="col-md-3">
                    <div class="well">
                        <h4>Users:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
				</div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Career Ladders:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>User Roles:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Workflow:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="well">
                        <h4>People:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Your Team's KRA:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sign
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Revise
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Own KRA:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sign
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Revise
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="well">
                        <h4>Shared KRA:</h4>
                        <form role="form">
                            <div class="form-group">
                                <label></label>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">View
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Add
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Modify
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Remove
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Sign
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" value="">Revise
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-lg btn-block">Add New Role</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-lg btn-block">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

