{% extends "base.html"%}
{% block content %}
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">New Account</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			
			<div class="row">
				<div class="col-lg-12">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="employeeID" class="col-sm-2 control-label">Employee ID</label>
							<div class="col-sm-10">
							  <input type="name" class="form-control" id="employeeID" placeholder="308625">
							  <span class='help-inline'>* required</span>
							</div>
						</div>
					
						<div class="form-group">
							<label for="name" class="col-sm-2 control-label">Name</label>
							<div class="col-sm-10">
							  <input type="name" class="form-control" id="name" placeholder="">
							  <span class='help-inline'>* required</span>
							</div>
						</div>
						<div class="form-group">
							<label for="username" class="col-sm-2 control-label">Username</label>
							<div class="col-sm-10">
								<input type="name" class="form-control" id="username" placeholder="">
								<span class='help-inline'>* required</span>
							</div>
						</div>
					  
						<div class="form-group">
							<label for="telephone" class="col-sm-2 control-label">Telephone</label>
							<div class="col-sm-10">
							  <input type="email" class="form-control" id="telephone" placeholder="012 345 6789">
							  
							</div>
						</div>
					  
						<div class="form-group">
							<label for="email" class="col-sm-2 control-label">Role</label>
							<div class="col-sm-10">
                                <select class="form-control">
                                    <option>Please select role here:</option>
                                    <option>User</option>
                                    <option>HR</option>
                                    <option>RGL</option>
                                    <option>CAM</option>
                                    <option>Admin</option>
                                </select>
							  <span class='help-inline'>* required</span>
							</div>
						</div>
					</form>
				</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <div class="form-group">
                            <button type="button" class="btn btn-success btn-lg btn-block">Add New User Account</button>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-default btn-lg btn-block">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
{% endblock %}

